span { 
  padding-left:  10px;
  font-size: 2em;
  font-weight: 400;
} 

.barra {
  font-size: 2em;
  padding: 10px;
  background-color: rgb(98, 36, 155);
  border-radius: 5%;

}

h1 {
  font-size: 3em;
  text-align: center;
}